.gradle/
build/
*.class
*.log
.idea/
*.iml
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
*.keystore
!debug.keystore
Pods/
*.xcworkspace
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
composeApp/google-services.json
iosApp/GoogleService-Info.plist
